<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ConnectionSGR" value="Data Source =10.10.101.201 ; Initial Catalog= SGRManagement_DB_QA; User Id=sa; Password=Efitec2020"/>
    <add key="IntervaloServicio" value="45000"/>
  </appSettings>
</configuration>
